@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="container" id="panelName">
    <div class="row">
        <div class="col-lg-12">
            <div style="height:20px;bottom:10px;left:0; display:block;width:100%">
                <input type="text" style="max-width:unset;width:100%;max-width:100%" id="InputName" placeholder="Seu nome" />
            </div>
        </div>
    </div>
</div>


<div class="row panelChat" style="display:none;">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4" style="background: cadetblue;">
        <h5>Lista de amigos</h5>
        <div id="lista"></div>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8" id="msgs">

    </div>
</div>

<div class="inputText panelChat" style="display:none;">
    <input type="text" style="max-width:unset;width:100%;max-width:100%" id="MessageField" placeholder="Digite sua mensagem aqui" />
</div>
<style>
    .nome {
        font-style: italic;
        font-weight: 800;
    }

    .inputText {
        position: fixed;
        bottom: 0px;
        right: 0px;
        height: 20px;
        bottom: 10px;
        left: 0;
        display: block;
        width: 100%
    }
</style>

@section Scripts {
    <script src="~/js/Chat.js"></script>
}