@{
    ViewData["Title"] = "Home Page";
}

<h1>Web Socket Exemplo</h1>

<p id="stateLabel">Ready To Connect....</p>
<div>
    <label for="connectionUrl">WebSocket ConnectionUrl:</label>
    <input id="connectionUrl" />
    <button id="connectButton">Conectar</button>
</div>
<p></p>
<div>
    <label for="sendMessage">WebSocket ConnectionUrl:</label>
    <input id="sendMessage" />
    <button id="sendButton">Enviar Mesagem</button>
    <button id="closeButton" disabled>Fechar Socket</button>
</div>

<h2>Log</h2>
<table>
    <thead>
        <tr>
            <td style="width:100px">De</td>
            <td style="width:100px">Para</td>
            <td>Data</td>
        </tr>
    </thead>
    <tbody id="commsLog"></tbody>
</table>
